h1 {
  color: salmon;
}
body{
background-color: gainsboro;

}

.headline{
display: flex;
align-items: center;
flex-direction: column;

}

.flex-div{

display:flex;
justify-content: space-between;
}

.cities-San{
display:flex;
height: 300px;
width: 300px;
background-image:url('../img/san-francisco.jpg');
justify-content: center;
align-items: center;

}
.cities-New{
  display:flex;
  height: 300px;
  width: 300px;
  background-image:url('../img/new-york.jpg');
  justify-content: center;
  align-items: center;
  }
  .cities-london{
    display:flex;
    height: 300px;
    width: 300px;
    background-image:url('../img/london.jpg');
    justify-content: center;
    align-items: center;
    }
.guidebook-button {
  display: flex;
  justify-content: center;
  padding-top:30px;
   
}


.cities-San2{
  display:flex;
  height: 300px;
  width: 300px;
  background-image:url('../img/san-francisco-2.jpg');
  justify-content: center;
  align-items: center;
  }
  .cities-napa{
    display:flex;
    height: 300px;
    width: 300px;
    background-image:url('../img/napa.jpg');
    justify-content: center;
    align-items: center;
    }
    .cities-sonoma{
      display:flex;
      height: 300px;
      width: 300px;
      background-image:url('../img/sonoma.jpg');
      justify-content: center;
      align-items: center;
      }
      p{
        color: white;
        font-size: 30px;
        font-weight: 400
      }